DenemeSon_iki/xml-resources/web-service-references/MyWebService1/wsdl/192.168.1.22_8084/MatrisWebService1/MyWebService1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://paket1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://paket1/" name="MyWebService1">
<types>
<xsd:schema>
<xsd:import namespace="http://paket1/" schemaLocation="http://192.168.1.22:8084/MatrisWebService1/MyWebService1?xsd=1" />
</xsd:schema>
</types>
<message name="carpim">
<part name="parameters" element="tns:carpim" />
</message>
<message name="carpimResponse">
<part name="parameters" element="tns:carpimResponse" />
</message>
<message name="matris_boyut_ayarla">
<part name="parameters" element="tns:matris_boyut_ayarla" />
</message>
<message name="matris_boyut_ayarlaResponse">
<part name="parameters" element="tns:matris_boyut_ayarlaResponse" />
</message>
<message name="ikinci_matris_al">
<part name="parameters" element="tns:ikinci_matris_al" />
</message>
<message name="ikinci_matris_alResponse">
<part name="parameters" element="tns:ikinci_matris_alResponse" />
</message>
<portType name="MyWebService1">
<operation name="carpim">
<input wsam:Action="http://paket1/MyWebService1/carpimRequest" message="tns:carpim" />
<output wsam:Action="http://paket1/MyWebService1/carpimResponse" message="tns:carpimResponse" />
</operation>
<operation name="matris_boyut_ayarla">
<input wsam:Action="http://paket1/MyWebService1/matris_boyut_ayarlaRequest" message="tns:matris_boyut_ayarla" />
<output wsam:Action="http://paket1/MyWebService1/matris_boyut_ayarlaResponse" message="tns:matris_boyut_ayarlaResponse" />
</operation>
<operation name="ikinci_matris_al">
<input wsam:Action="http://paket1/MyWebService1/ikinci_matris_alRequest" message="tns:ikinci_matris_al" />
<output wsam:Action="http://paket1/MyWebService1/ikinci_matris_alResponse" message="tns:ikinci_matris_alResponse" />
</operation>
</portType>
<binding name="MyWebService1PortBinding" type="tns:MyWebService1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="carpim">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="matris_boyut_ayarla">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ikinci_matris_al">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="MyWebService1">
<port name="MyWebService1Port" binding="tns:MyWebService1PortBinding">
<soap:address location="http://192.168.1.22:8084/MatrisWebService1/MyWebService1" />
</port>
</service>
</definitions>